main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid #FFFFFF;
  color: white;
  text-align: center;
  font-size: 1.5rem;
  padding: .5rem;
  border-radius: .5rem;
  background-color: transparent;
  margin: 1rem;
}

.user-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
<<<<<<< HEAD
  align-items: center;
  margin-bottom: .1rem;
  
}

.result{
  margin-bottom: 3rem;
=======
}

main {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
>>>>>>> f09eb87c9468c7366319e4082ca6547f5285e791
}